@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin center-horizontal-vertical{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


// MEDIA QUERIE MANAGER
/*
0 - 600px:  Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
1200 - 1800 is where our normal style only
1800px +: Big desktop

*/

@mixin respond-phone{
    @media (max-width: 600px){ @content };
}

/*
$BREAKPOINT ARGUMENT CHOICES:
-PHOHE
-TAB-PORT
-TAB-LAND
-TAB-DESKTOP
*/

@mixin respond($breakpoint){
    @if $breakpoint == phone{
        @media (max-width: 37.5em){ @content };
    }
    @if $breakpoint == tab-port{
        @media (max-width: 56.25em){ @content };
    }
    @if $breakpoint == tab-land{
        @media (max-width: 75em){ @content };
    }
    @if $breakpoint == big-desktop{
        @media (min-width: 112.5em){ @content };
    }
}