.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .15;

    &__content{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}