.popup{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &:target{
        opacity: 1;
        visibility: visible;
    }
    
    &__close{
        &:link,
        &:visited{
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .3s;
            line-height: 1rem;

            &:hover{
                color: $color-primary;
            }
        }
    }

    &:target &__content{
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    &__content{
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        @include center-horizontal-vertical;
        border-radius: 3px;
        display: table;
        overflow: hidden;
        transition: all .3s .2s;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.25);
    }

    &__left{
        width: 33.333333%;
        display: table-cell;
    }

    &__right{
        width: 66.666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
        position: relative;
    }

    &__img{
        display: block;
        width: 100%;
    }

    &__text{
        font-size: 1.4rem;
        margin-bottom: 4rem;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2;

        -webkit-hyphens: auto;
        hyphens: auto;
    }
}